:root {
  --amplify-colors-font-primary: #333;
  --amplify-colors-font-secondary: #666;
  --amplify-colors-background: #ffffff;
  --amplify-colors-primary: #007bff;

  --font-default: Arial, sans-serif;
}

/* Partner A Theme */
[data-amplify-theme="partnerA"] {
  --amplify-colors-font-primary: #111;
  --amplify-colors-font-secondary: #444;
  --amplify-colors-background: #15ff00;
  --amplify-colors-primary: #28a745;

  --font-default: "Courier New, monospace";
}

/* Partner B Theme */
[data-amplify-theme="partnerB"] {
  --amplify-colors-font-primary: #222;
  --amplify-colors-font-secondary: #555;
  --amplify-colors-background: #ff1ae8;
  --amplify-colors-primary: #dc3545;

  --font-default: monospace;
}

body {
  font-family: var(--font-default);
  color: var(--amplify-colors-font-primary);
  background-color: var(--amplify-colors-background);
}

a {
  font-weight: 500;
  color: var(--amplify-colors-primary);
  text-decoration: inherit;
}
a:hover {
  color: lighten(var(--amplify-colors-primary), 10%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-default);
  background-color: var(--amplify-colors-primary);
  color: var(--amplify-colors-background);
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--amplify-colors-font-primary);
}
